<div class="row">
  <div class="col m6 offset-m3 center">
    <h5>Change your password</h5>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render partial: 'shared/devisemes' %>
    <%= f.hidden_field :reset_password_token %>

    <div class="input-field">
      <%= f.password_field :password, autocomplete: "off", class: "validate", placeholder: "New Password", autofocus: true %>
    </div>

    <div class="input-field">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate", placeholder: "Confirm New Password" %>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Change my Password</button>
    <% end %>

  </div>
</div>